# Test gnore secret.py round 2 
/secret.py

# ignore pyenv

/pyvenv.cfg

# Test ignore example.db

/example.db

# test ignore __pycache__

__pycache__/

# test ignore Lib, Scripts

Lib/
Scripts/